---
title: Blog
active: blog_list
layout: base
---

<h1 class="entries">Old Blog entries</h1>

{% for page in paginator.posts %}
{% unless page.draft %}
	<hr>
    <article>
      <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
      {% include post_date.html %}
      
      
    {% if page.more %}
  	{{ page.content | truncate: page.more, "" }}
	{% else %}
	<!--start_output-->{{ page.content | truncatewords: 100, "" }}
	{% endif %}

      <p><a class='btn' href='{{ page.url }}'><i class="icon-book"></i> Read this entry &raquo;</a></p>
    </article>
{% endunless %}
{% endfor %}

<ul class="pager">
  {% if paginator.previous_page == 1 %}
  <li class="next">
    <a href="/" >Next Entries &rarr;</a>
  </li>
  {% elsif paginator.previous_page %}
  <li class="next">
    <a href="/page{{ paginator.previous_page }}">Next Entries &rarr;</a>
  </li>  
  {% endif %}
  {% if paginator.next_page %}
  <li class="previous">
    <a href="/page{{ paginator.next_page }}">&larr; Previous Entries</a>
  </li>
  {% endif %}
</ul>
