    <meta charset="utf-8">
    <title>{% if page.title %} {{ page.title }} &laquo; {% endif %} {{ site.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <link href="{{ site.rss_feed }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />
    <meta name="author" content="Pierre-Yves Ricau">
    <link rel="shortcut icon" type="image/x-icon" href="http://0.gravatar.com/blavatar/4b03505f62a934acdd5d0b9591f48516?s=16" sizes="16x16" />
    <link rel="icon" type="image/x-icon" href="http://0.gravatar.com/blavatar/4b03505f62a934acdd5d0b9591f48516?s=16" sizes="16x16" />
    <link rel="apple-touch-icon-precomposed" href="http://1.gravatar.com/blavatar/3d59c087a30aed75a59598e39e250588?s=114" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5875795-18']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>