/*
OMG I so totally suck at CSS...
*/

/* ********* GLOBAL ******** */

.content {
  margin-top: 80px;
}

body {
  padding-bottom: 40px;
}

hr {
  border:0;
  background-color:#d1d1d1;
  height:2px;
  margin-bottom:15px;
}

.honni {
  color: #468847;
  font-style:italic;
}

footer {
  text-align: center;
}

@media (max-width: 979px) {
  .content {
    margin-top: 0;
  }
  .navbar-text {
    line-height: 26px;
  }
}

.label, .badge {
  line-height: 18px;
}

i {
  position: relative;
  top: 2px;
}

/* ********* MAIN ********* */

.hero-unit {
  background-color: #fff; 
}

.hero-unit p {
  font-size: 1.2em;
}

.hero-unit h1.more-space {
  margin-bottom: 9px;
}

h1.entries {
  font-size: 3.5em;
}

/* ********* BLOG ********* */

/* Titles with anchors in articles */
article h2 a {
  /* See http://stackoverflow.com/questions/9047703/fixed-position-navbar-obscures-anchors */
  padding-top: 60px;
  margin-top: -60px;
  display: inline-block; /* required for webkit browsers */
}

article h1 a, article h2 a, article h1 a:hover, article h2 a:hover {
  color: #333333;
}

code {
  color: #333333
}

article .highlight pre {
  background-color: white;
}

.container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#comments ~ p {
  font-weight: 300;
}

#comments ~ h2 {
  font-style:italic;
  color: #08C;
  font-size: 1.2em;
  font-weight: normal;
}

.btn-popover {
  margin-top: 20px;
  margin-bottom: 20px;
}

blockquote {
  border-left-color: white;
}

article {
  font-size: 1.2em;
  line-height: 1.7em;
}

article li {
  line-height: 1.7em;
}


article blockquote p {
  font-size: 0.9em;
  line-height: 1.7em;
}
