---
layout: base
active: blog
---

<div class="row">
<div class="span10 offset1">

{% include post_navigate.html %}

<article>
	<h1>{{ page.title }}</h1>
	{% if page.draft %}
	<p><a class='btn' href="https://github.com/pyricau/pyricau.github.com/blob/master/_posts/{{ page.filename }}"><i class="icon-pencil"></i> Edit &raquo;</a></p>
	<p><strong>This article is a draft, available online for reviewing purposes.</strong></p>
	{% endif %}
	{% include post_date.html %}
	{{ content }}
	
	{% include comment_button.html %}
</article>

{% include post_navigate.html %}
</div>
</div>

