<!DOCTYPE html>
<html lang="en">
  <head>
  
    {% include head_common.html %}
    
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="/reveal.js/css/reveal.min.css">
    <link rel="stylesheet" href="/reveal.js/css/theme/sky.css" id="theme">


    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
        document.write( '<link rel="stylesheet" href="/reveal.js/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>
        
  </head>

  <body>
  
	<div class="reveal">
		<div class="slides">
      		{{ content }}
		</div>
	</div>
      
  		<script src="/reveal.js/lib/js/head.min.js"></script>
		<script src="/reveal.js/js/reveal.min.js"></script>

		<script>
			Reveal.initialize({
				history: true,
				center: true,
				mouseWheel: true,

				theme: 'sky',
				transition: 'default', // default/cube/page/concave/zoom/linear/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: '/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: '/reveal.js/plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
				]
			});

		</script>

    
  </body>
</html>
